@import "../../styleguide/colors.scss";

$tagHeight: 24px;
$tagHeightMini: 8px;
$tagRemoveDiameter: 16px;

.tagContainer {
  display: flex;
}

.tag {
  flex-shrink: 1;
  display: flex;
  white-space: nowrap;
  padding: 0 8px;
  height: $tagHeight;
  line-height: $tagHeight;
  font-size: 14px;
  background: $orange;
  margin-right: 5px;
  color: $base2;
  border-radius: $tagHeight / 2;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  &.mini {
    height: $tagHeightMini;
    line-height: $tagHeightMini;
    width: 20px;
  border-radius: $tagHeightMini / 2;
  }
}

.label {

}

.remove {
  width: $tagRemoveDiameter;
  height: $tagRemoveDiameter;
  position: relative;
  margin-left: 6px;
  text-align: center;
  background: white;
  color: black;
  border-radius: 50%;
  line-height: $tagRemoveDiameter;
  cursor: pointer;

  &::before {
    content: 'x';
  }
}
